*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

#container
{
    width: 100vw;
    height: 100vh;
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
    padding: 5px;
    row-gap: 2px;
   

}

.items
{
    background-color: red;
    border: 2px solid black;
    padding: 1vw;
}